
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tab</title>
</head>
<body>
    <div> 
        <h2>欢迎管理员  登录，您已经累计登录99天！</h2>
    </div>
</body>
</html>
