
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tabinfo</title>
</head>
<body>
    <div>
        <p>我们网站是一家专注于二手买卖的网站</p>
        <p>主流业务为二手买卖，倒卖</p>
        <p>有关二手买卖主要有八大板块：电脑，手机平板。。</p>
    </div>
</body>
</html>
