@using CYESW.Models
@{
    ViewBag.Title = "UserIndex";
    var user = Session["user"] as UserInfo;
}


<div style="overflow:hidden">
    <div class="uer_bg row">
        <div class="col-lg-2 img_tx_father">
            <img src="~/images/img/@user.Images" class="img_tx" />
        </div>
        <div class="col-lg-10 uer_wb">
            <p><span style="font-size:25px;font-weight:bold">@user.UserName</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>周末快乐！</span></p>
            <p><span>邮箱：@user.UserEmile</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>id：@user.UserId</span></p>
        </div>
    </div>
    <div class="row user_ul_big">
        <div class="col-lg-3">
            <div class="user_ul">
                <h3>用户中心</h3>
                <ul>
                    <li class="user_ul_li_active" value="1">我发布的</li>
                    <li value="2">我收藏的</li>
                    <li value="3">我的消息</li>
                </ul>
                <h3>账户管理</h3>
                <ul>
                    <li value="4">我的资料</li>
                    <li value="5">我的认证</li>
                    <li value="6">我的反馈</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-9 ">
                @{Html.RenderPartial("Publish");}
        </div>
    </div>
</div>


