body {
    background-color: #f0f0f0;
}

a {
    display: inline-block;
}

    a:hover {
        text-decoration: none;
    }

.gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

.personal-mybuluo-head {
    margin: 20px 0px;
    height: 14px;
    position: relative;
}

.personal-mybuluo-wording {
    position: absolute;
    top: 0;
    z-index: 2;
    left: 50%;
    background-color: #fff;
    color: #777;
    text-align: center;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
    padding: 0 10px;
}

.personal-border {
    position: absolute;
    top: -7px;
    left: 0;
    width: 100%;
    height: 14px;
    z-index: 1;
}

.jmu-border-1px {
    position: relative;
}

    .jmu-border-1px.border-bottom:after {
        border-bottom: 1px solid #dedfe0;
    }

@@media only screen and (-webkit-min-device-pixel-ratio: 2) .jmu-border-1px:after {
    right: -100%;
    bottom: -100%;
    -webkit-transform: scale(0.5);
}

.jmu-border-1px:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(1);
    pointer-events: none;
}

.top {
    height: 35px;
    line-height: 35px;
    background-color: #e9e7e4;
    width: 100%;
    margin: 0px;
    padding: 0px 200px 0px 200px;
}

    .top a {
        margin: 0px 8px;
    }

.yqlj {
    padding: 25px 220px;
    background-color: #69696933;
}


.top_done {
    width: 100%;
    height: 150px;
    background-color: #ffffff;
    box-shadow: 0px 1px 1px 1px #adadad;
    margin-bottom: 10px;
}

.top_done_body {
    text-align: center;
    width: 75%;
    margin: 0px auto;
    line-height: 110px;
    padding: 20px;
}

#myCarousel {
    border-radius: 20px;
    overflow: hidden;
    margin: 0px auto;
    height: 300px;
}

/*父容器*/
.flexs {
    display: flex;
    flex-flow: row nowrap; /*都是默认值，从左向右排，不换行*/
    justify-content: space-between; /*水平方向上居中*/
    align-items: center; /*垂直方向上居中*/
    align-content: space-between; /*多行时，行居中*/
}
/*父容器*/
.flexs_1 {
    display: flex;
    flex-flow: row nowrap; /*都是默认值，从左向右排，不换行*/
    justify-content: space-between; /*水平方向上居中*/
    align-items: center; /*垂直方向上居中*/
    align-content: space-between; /*多行时，行居中*/
}
/*子容器*/
.itmes {
    align-content: space-between;
    align-self: center;
}

.sousuo {
    float: left;
    padding: 0 15px;
    margin: 0;
    height: 40px;
    line-height: 40px;
    border: 1px solid #f46;
    width: 425px;
    font-size: 12px;
}

.anniu {
    float: left;
    border: 0;
    padding: 0;
    margin: 0 0 0 -1px;
    height: 40px;
    line-height: 40px;
    background: #f46;
    width: 90px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: #fff;
    font-size: 16px;
}

.play {
    border: 1px solid #f46;
    background-color: #f46;
    color: #fff;
    border-radius: 2px;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    height: 36px;
    line-height: 50px;
    padding: 0 2em;
    height: 50px;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

span {
    color: #666;
}

.span_1 {
    margin: 0px 10px;
}

.rowmagre {
    margin: 20px 0px;
    background-color: #ffffff;
}

.rowmagre_father {
    border-radius: 5px;
    background-color: #fff;
    line-height: 30px;
    display: flex;
    justify-content: space-around;
}

.rowmagre_1 {
    width: 100%;
    border-left:1px solid #fff;
    text-align: center;
    font-size: 21px;
    
    background-color: gainsboro;
}

    .rowmagre_1 > a {
        padding: 10px;
        display: block;
        height: 100%;
        width: 100%;
        color: black;
        font-weight: 800;
    }

    .rowmagre_1 a:hover {
        color: #c4112bf5;
        border-right: 8px solid #c4112bf5;
        border-left: 8px solid #c4112bf5;
    }
.rowmagre_1_active {
    color: #c4112bf5;
    border-right: 8px solid #c4112bf5;
    border-left: 8px solid #c4112bf5;
}

.monye_1 {
    color: orangered;
    font-size: 18px;
    font-family: "微软雅黑";
    font-weight: bold;
}

.userinfo_sm {
    height: 50px;
    line-height: 50px;
}

    .userinfo_sm img {
        height: 50px;
        width: 50px;
        border: 1px solid #808080;
        border-radius: 50%;
        margin: 0px 18px;
    }

.pubu-container {
    margin: 0 auto;
    /*弹性布局*/
    display: flex;
    /*方向*/
    flex-direction: row; /* 可以理解成float:left. */
}

    .pubu-container > .item {
        flex: 1 /*弹性项的占比*/;
        margin: 17px;
    }

        .pubu-container > .item > .thumbnail {
            width: 100%;
            border: 1px solid #897e02;
            box-shadow: 0px 3px 10px 5px #9999997a;
            margin-top: 8px;
            transition: all 0.3s ease-in-out;
        }

            .pubu-container > .item > .thumbnail:hover {
                cursor: pointer;
                transform: scale(1.05); /*变大1.1倍*/
                box-shadow: 0px 3px 3px 2px #999;
            }

#cebianlan {
    float: left;
    position: fixed; /*固定*/
    border: 1px solid groove;
    border-radius: 2px;
    left: 0px;
    top: 10%;
    overflow: hidden;
}

.cbl_0 {
    height: 80px;
    text-align: center;
    line-height: 80px;
    background-color: #c4112bf5;
    color: white;
    font-size:25px;
    font-weight:800;
}

.cbl_1 {
    line-height: 75px;
    height: 68px;
    font-size:20px;
    text-align: center;
    background-color: #ffffff;
    position:relative;
}
    .cbl_1 > a{
        display:block;
        width:100%;
        height:100%;
        color:black;
        border-bottom:1px solid black;
    }
        .cbl_1 > a:hover {
            color: #c4112bf5;
            font-weight: 800;
            cursor: pointer;
            border-left: 14px solid #c4112bf5;
            border-right: 15px solid #c4112bf5;
            background-color: #c3c0c1;
        }
        .cbl_1 > a>img{
            position:absolute;
            top:22px;
            left:20px;
        }

        #toplan {
            float: left;
            position: fixed; /*固定*/
            right: 2%;
            bottom: 5%;
            display: none;
            overflow: hidden;
        }

.index_1 {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
}

.pries_1 h3 {
    display: inline;
    color: orangered;
    margin-right: 20px;
}

.pries_1 span {
    margin-right: 10px;
}

.glyphicon_color {
    color: orange;
    margin: 0px 2px;
}

.zhenti {
    margin: 0px 10px;
}

.table_pf tr td {
    width: 45%;
    height: 35px;
    line-height: 35px;
}

.table_dz tr td {
    width: 45%;
    height: 35px;
    line-height: 50px;
}

.mybtn_1 {
    background: #84c800;
    padding: 5px;
    border: 1px solid #5eae00;
    margin-right: 20px;
}

.mybtn_2 {
    background: #ff9f49;
    padding: 5px;
    border: 1px solid #ff9f99;
}

.span_white {
    color: white;
    margin: 5px 5px;
}

.span_gray {
    color: #adadad;
    font-size: 14px;
}

.user_img {
    margin: 10px 0px;
}

.btn_genduo {
    width: 80%;
    margin: 0px auto;
    text-align: center;
    height: 35px;
    line-height: 35px;
    border: 1px solid #666;
    border-radius: 2px;
    margin-bottom: 20px;
}

    .btn_genduo:hover {
        box-shadow: 0px 0px 3px 1px #dedfe0;
        /*background-color:#adadad;*/
    }

.lunbo_img {
    height: 300px;
    margin: 0px auto;
    width: 100%;
}

.div_dixian {
    background-color: #a4b0be;
    text-align: center;
    height: 60px;
    border: 1px solid #d5d9b6;
    border-radius: 15px;
    line-height: 60px;
    margin: 10px 0px;
    transition: all 0.3s ease-in-out;
}

    .div_dixian:hover {
        cursor: pointer;
        transform: scale(1.07); /*变大1.2?倍*/
        box-shadow: 0px 1px 5px 1px #999;
    }

.a_full {
    width: 100%;
}

.a_full_gd {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 240px;
    font-size: 30px;
    text-align: center;
    margin: 0px auto;
}

.a_dixian {
    font-size: 20px;
    color: gray;
}

.goods_buttom {
    padding: 5px;
    background-color: #FBFBFB;
    border: 5px;
    margin: 20px 0px;
}

.goods_jxgoods > .row > div {
    height: 280px;
    background-color: #f1f2f6;
    margin: 10px 0px;
    padding: 10px 5px;
}

    .goods_jxgoods > .row > div > .dztp {
        height: 140px;
        /*overflow:hidden;*/
    }

.goods_jxgoods > .row {
    margin: 50px 15px;
    height: 150px;
}

.goods_jxgoods_p {
    font-size:20px;
    color: black;
    margin: 25px 0px 10px 0px;
}

.goods_tsgoods {
}

.tsxx {
    margin: 10px;
    padding: 10px;
    height: 200px;
    width: 100%;
}
.text_wenben{
    padding:20px;
    line-height:30px;
}

.wzyqlj > a {
    margin: 10px;
    font-size: 15px;
}

.index_xianxi {
    padding: 10px;
}

.personal-mybuluo-wording {
    font-size: 12px;
}

/*超出隐藏*/
.chaochu_150 {
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chaochu_250 {
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.user_good_if {
    align-content: center;
}

.tsxx {
    background-color: #f1f2f6;
}

.tsxx_gg {
    text-align: center;
    position: relative;
    width: 50px;
    line-height: 15px;
    height: 20px;
    padding: 2px;
    border: 1px solid black;
    background-color: gainsboro;
}

.diqu {
    background-color: white;
}

    .diqu li {
        list-style-type: none;
    }

.shi li {
    margin-right: 10px;
    line-height: 35px;
    height: 35px;
    display: inline-block;
}

.ui-autocomplete-input {
    display: inline;
    width: 369px;
    border-radius: 2px;
    vertical-align: middle;
    padding-right: 50px;
    border: 1px solid #ddd;
    transition: box-shadow 217ms ease
}

.region_li {
    padding-top: 30px;
}

.region_li_li {
    margin: 10px;
}

.shi {
    margin-left: 20px;
}

.uer_bg {
    margin: 20px auto;
    border: 1px solid white;
    width: 100%;
    height: 150px;
    z-index: -10;
    background-color: #fff;
    background-image: url('../images/img/7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.img_tx_father {
    text-align: center;
    line-height: 150px;
}

.img_tx {
    margin: 10px auto;
    height: 100px;
    width: 100px;
    border: 2px solid white;
    border-radius: 50%;
}

.uer_wb {
    padding: 30px;
    color: white;
}

    .uer_wb > p > span {
        color: white;
    }

.user_ul {
    height: 730px;
    padding-top: 5px;
    background-color: white;
    border-radius: 20px;
}

    .user_ul > h3 {
        padding: 20px 10px 10px 10px;
        background-color: #77889947;
        display: inline-block;
        width: 100%;
    }

    .user_ul ul {
        padding: 0px;
        list-style: none;
    }

        .user_ul ul > li>a {
            font-size: 18px;
            padding: 15px;
            width: 100%;
            height: 50px;
            align-content: center;
            line-height: 25px;
        }

            .user_ul ul > li>a:hover {
                cursor: pointer;
                color: orangered;
                background-color: #80808059;
                font-size: 19px;
                border-left: 3px solid orangered;
            }

.user_ul_li_active>a {
    border-left: 3px solid orangered;
    color: orangered;
    background-color: #80808059;
    font-size: 19px;
}

.conten_user {
    /*background-color:white;*/
    /*width:100%;*/
    height: 500px;
}

.uer_kk {
    background-color: white;
}

.uer_kk_1 {
    text-align: center;
    font-size: 18px;
    color: yellowgreen;
    line-height: 50px;
    height: 50px;
}

    .uer_kk_1:hover {
        cursor: pointer;
        border-top: 3px solid orangered;
        background-color: #80808022;
        color: orangered;
    }

.uer_kk_1_active {
    border-top: 3px solid orangered;
}

.uer_goods {
    margin: 20px 0px 0px -15px;
    background-color: white;
    position: relative;
    border-radius: 15px;
}

.uer_goods_txt {
    padding: 5px;
    padding-left: 35px;
}

.uer_goods_foot {
    position: relative;
}

.good_a {
    background-color: #72a7bc75;
    display: inline-block;
    border-radius: 10px;
    height: 40px;
    line-height: 45px;
    width: 90px;
    text-align: center;
    color: dimgrey;
    margin: 5px;
}

    .good_a:hover {
        color: black;
        background-color: #77b4df;
    }

.sb_1 {
    position: absolute;
    top: 5px;
    right: 1px;
    font-size: 14px;
    color: white;
    text-align: center;
    height: 35px;
    line-height: 35px;
    width: 75px;
    border-radius: 25px 0 0 25px;
}

.sb_1_1 {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 18px;
    color: white;
    text-align: center;
    height: 112.5px;
    line-height: 112.5px;
    width: 85px;
}

.modal_h2 {
    display: inline-block;
}

.qiehuan {
    display: none;
}

.qiehuan_active {
    display: block;
}

.a_xq {
    float: left;
    display: block;
    height: 111px;
    line-height: 111px;
    background-color: aquamarine;
    text-align: center;
    width: 85px;
}

.uer_kk_sale {
    display: none;
}

.uer_kk_sale_active {
    display: block;
}

.no_div {
    background-color: white;
    border-radius: 10px;
    margin: 15px 0px 15px -15px;
    padding: 50px;
    color: gray;
}

.goods_list1 {
    border-radius: 15px;
}

.jiage {
    color: orangered;
    font-size: 22px;
}
.jiage_gray {
    color: darkgray;
    text-decoration: line-through;
    font-size: 18px
}

.gushi {
    font-size: 20px;
}

.table_pf tr td {
    font-size: 18px;
}

.sreach {
    line-height: 38px;
    padding-top: 20px;
    background-color: #e8e7af;
    border-radius: 25px;
}

    .sreach > .sreach_1 {
        text-align: center;
    }

    .sreach > .sreach_2 {
        margin-top: -30px;
        padding-left: 15px;
    }

.input_s {
    padding-left: 5px;
    margin-right: 0px;
    width: 250px;
    border: 1px solid gray;
    border-radius: 15px 0px 0px 15px;
    line-height: 35px;
}

.input_i {
    border-radius: 0px 15px 15px 0px;
    margin-left: -5px;
    width: 70px;
    background-color: #e1ca58cc;
}

.sreach_2_i {
    display: inline-block;
    height: 35px;
    padding: 15px;
}

.body_goodlist {
    padding-top: 10px;
    background-color: white;
    border: 1px solid #80808052;
}

.list_1 {
    margin: 0px;
    background-color: white;
    border-bottom: 1px solid #80808052;
}

.shoucan_1 {
    display: inline-block;
    border: 1px solid #80808052;
    width: 100px;
    line-height: 40px;
    text-align: center;
    margin-top: 15px;
    margin-right: 15px;
    border-radius: 8px;
    font-size: 18px;
    color: white;
    background-color: #aac4bc;
}

    .shoucan_1:hover {
        color: orange;
    }

.xuanzhe {
    line-height: 50px;
    padding: 10px 0px 0px 15px;
    background-color: #e9af0b38;
    border-bottom: 1px solid #80808052;
    border: 1px solid #80808052;
    border-bottom: none;
    border-radius: 25px 25px 0px 0px;
}

.xuanzhe_1 {
    padding-left: 5px;
    margin-right: 0px;
    width: 150px;
    border: 1px solid gray;
    border-radius: 5px;
    line-height: 35px;
}

.serach {
    border: 1px solid #80808052;
    border-radius: 5px;
    line-height: 35px;
    width: 80px;
    background-color: #e1ca58cc;
}

.ss_1:hover {
    color: white;
    font-size: 15px;
    border: 1px solid white;
}

.gg_1 {
    line-height: 50px;
    background-color: #e9af0b38;
    border: 1px solid #80808052;
    border-bottom: none;
    border-radius: 25px 25px 0px 0px;
}

.p_1 {
    text-indent: 2em;
    color: gray;
    font-size: 14px;
}

.gg_2 {
    margin-top: -15px;
    background-color: white;
    border: 1px solid #80808052;
    padding: 10px;
}

.gg_3 {
    padding: 10px;
    margin: 15px 0px;
    background-color: white;
    border: 1px solid #80808052;
}

.p_center {
    text-align: center;
    font-size: 18px;
}

.row_1 {
    position: relative;
}

.row_1_1 {
    position: absolute;
    bottom: 4px;
    left: 4px;
    background-color: #e1e0e080;
}

.top > div {
    color: dimgray;
}

ul.flow {
    padding: 0 20px;
    font-size: 17px;
    text-align: center;
    align-content: center;
    color: #666;
    list-style: none;
    display: flex;
    flex-flow: nowrap row;
}

    ul.flow > li {
        margin: 10px 10px 10px 0px;
    }

.i-badge {
    padding: 0 6px;
    margin-right: 12px;
    color: #fff;
    background-color: #cdcdcd;
    border-radius: 12px;
}

.active > label {
    background-color: orangered;
}

.ul_li {
    width: 100%;
    border-bottom: 1px solid groove;
}

.div_fabu {
    padding: 0px;
}

    .div_fabu ul {
        list-style: none;
    }

        .div_fabu ul li {
            padding: 15px
        }

.myrow {
    display: flex;
    flex-flow: row wrap;
    background-color: rgba(201, 198, 198, 0.32);
    border: 1px solid gray;
}

.type_id2_li:hover {
    cursor: pointer;
    /*transform: scale(1.05); /*变大1.1倍*/
    background-color: #80808052;
    box-shadow: 0px 3px 3px 2px #999;
}

.favs-list {
    list-style: none;
    color: #999;
    padding: 0px 30px 10px 30px;
    background-color: white;
}
    .favs-list > li {
        display: block;
        line-height: 100px;
        border-bottom: 1px solid #80808052;
    }
    .favs-list .title {
        font-size: 18px;
        color: #333;
        font-weight: 700;
    }
        .favs-list .title a:hover {
            color: #f46;
        }
    .favs-list .cancel {
        line-height: 35px;
        margin-top:25px;
    }

.unfav-button {
    padding: 0em 2em;
    color: #f46;
    border: 1px solid #f46;
    border-radius: 2px;
    text-decoration: none;
    -webkit-transition: all 217ms ease;
    transition: all 217ms ease;
}
    .unfav-button:hover {
        background-color: #f46;
        color: #fff;
    }

.user_table {
    padding: 20px;
    background-color: white;
    margin: 10px 0px;
}
    .user_table > tbody > tr > td {
        line-height: 50px;
        margin-left:10px;
    }


.tijiao{
    height:45px;
}
    .tijiao:hover {
        background-color: #ce8e186e;
    }

.a_rz{
    display:block;
}
.div_rz{
    width:420px;
    margin:20px auto;
    background-color:white;
    padding:30px;
    border-radius:15px;
    text-align:center;
}
.a_rz {
    margin: 0px auto;
    width: 150px;
    line-height: 40px;
    font-size: 18px;
    background-color: #80808052;
    border: 1px solid gray;
    border-radius: 7px;
}
    .a_rz:hover {
        color: white;
        background-color: #2ecc71;
        border: 1px solid #16a085;
    }
    .div_rz_img {
    }


.order_div{
    text-align:center;
    background-color:white;
    border-radius:15px;
    padding:40px 200px;
    
}
    .order_div > table > tbody > tr > td {
        line-height: 40px;
    }
.order_div_1 {
    height: 100px;
    background-color: white;
    font-size: 17px;
    text-align: center;
    margin: 10px 0px;
    border-radius: 15px;
    overflow: hidden;
    padding: 20px 0px 0px 0px;
}
    .input_ti {
        border: none;
        border-radius: 5px;
        background-color: #dff0d8;
        height: 45px;
    }
    .input_ti:hover {
        background-color: #bedfb0;
    }
.img_uo{
    margin:0px auto;
    height:100px;
    width:100px;
    border:2px solid gray;
    border-radius:50%;
}
.h3_1{
    background-color:white;
    border-radius:15px;
    line-height:75px;
    padding-left:25px;
}
.bg {
    background-image: url('../images/icopng/u_top_bg.jpg');
    margin:30px 0px 0px 0px;
    height:185px;
}
    .bg img {
        width: 150px;
        height: 150px;
        border: 5px solid #fff;
        border-radius: 50%;
        position:relative;
        top:70px;
        left:15px;
    }
.bg_1 {
    height:70px;
    margin: 0px 3px;
    background-color: white;
}
.user-name{

}
.user-info {
    position:relative;
    top:90px;
    left:-110px;
    color:white;
    font-size:17px;
}

.rz_img > img {
    width: 100px;
    height: 100px;
    /*position: relative;
    top: 70px;
    left: 15px;*/
}


.btn_my {
    background-color: #81b49cab;
    border: 1px solid #81b49cab;
}

.form_addres td {
}



.jubao_fa {
    width: 1000px;
    margin: 0px auto;
}

.huifu {
    border-top: 2px solid red;
}

.color_1 {
    color: #d98c00e0;
}

.jubao_fa h2, .jubao_fa h5 {
    text-align: center;
    padding: 30px 0px;
}

.wo-empty {
    width: 400px;
    min-height: 288px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 60px;
    font-size: 16px;
    line-height: 2;
    color: #666;
}

.user_ul_1 {
    height: 200px;
}

.jubao_div {
    background-color: white;
    box-shadow: 0px 8px 10px 15px #8080801f;
}

    .jubao_div > div {
        padding-left: 0px;
    }

        .jubao_div > div > ul {
            border-radius: 2px;
            padding: 0px;
            overflow: hidden;
        }

            .jubao_div > div > ul > li {
                line-height: 80px;
                font-size: 22px;
                /*margin-left: -40px;*/
                padding: 10px;
                text-align: center;
            }

                .jubao_div > div > ul > li:hover {
                    border-left: 12px solid gray;
                    background-color: #80808073;
                    color: white;
                    cursor: pointer;
                }

.jubao_active {
    border-left: 12px solid gray;
    background-color: #80808073;
    color: white;
}

.jubao_display {
    display: none;
}

.jubao_display_black {
    display: block;
}

.jubao_zhi {
    background-color: white;
    border: 1px solid groove;
    border-radius: 15px;
    padding:0px 150px 10px 150px;
}

.zixie_1{
    margin:20px;
}

.title_2{
    font-weight:900;
    padding:20px;
    text-align:center;
    font-family:YouYuan;
}
.div_gtop {
    z-index:2;
    margin: 0px auto;
    padding:10px;
    margin-bottom:20px;
    font-size: 16px;
    background-color:white;
    height:42px;
    width:95%;
    border-radius:0px 0px 10px 10px;
    box-shadow:0px 1px 1px 1px gray;
}
.div_gtop_1 {
    height: 50px;
    line-height:50px;
    font-size:19px;
    background-color: orangered;
    border-radius: 10px 10px 0px 0px;
    color:white;
    font-weight:900;
    padding:0px 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.div_gtop>span{
    margin:10px 30px;
}

.cz_table{
    margin:0px auto;
    width:500px;
}
    .cz_table td{
        text-align:center;
        line-height:4px;
    }
.beizhu_div {
    border: 1px solid #8080806b;
    height: 75px;
    border-radius: 15px;
    background-color: white;
    margin: 5px 0px;
    color: gray;
}
.beizhu_div_top {
    line-height: 35px;
    background-color: coral;
    border-radius: 15px;
    margin:0px auto;
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:900;
}


* {
    /*border: 1px solid gray;*/
}
/*验证错误样式*/
label.error {
    color: red;
}