
@{
    ViewBag.Title = "Selete";
}

<ul class="breadcrumb">
    <li><a href="/Home/Index">朝阳二手网</a></li>
    <li>审卷管理</li>
</ul>
<div class="infoselet">
    <div class="infoselet_1 row">
        <div class="col-md-1"><span><a href="#">类型</a></span></div>
        <div class="col-md-11"><span class="span_1">闲置免费送</span><span class="span_1">手机</span><span class="span_1">电脑</span></div>
    </div>
    <div class="infoselet_1 row">
        <div class="col-md-1"><span>地区</span></div>
        <div class="col-md-11"><span class="span_1">北京</span><span class="span_1">湖南</span><span class="span_1">湖北</span></div>
    </div>
</div>

