@using CYESW.Models;
@{
    ViewBag.Title = "GoodsaddressIndex";
    var diqu = ViewData["diqu"] as List<Goodsaddress>;
    var sheng = ViewData["sheng"] as List<Goodsaddress>;
    var shi = ViewData["shi"] as List<Goodsaddress>;
}

    <div class="diqu">
        <ul>
            @*<li>
                <input id="tags" placeholder="搜索城市" class="ui-autocomplete-input" autocomplete="off"><span class="icon-search"></span>
            </li>*@
            @foreach (var item in diqu)
            {
                <li class="region_li">
                    <h3 class="region">@item.TypeName</h3><hr/>
                    <ul>
                        @foreach (var item1 in sheng.Where(p => p.GoodsaddressBId == item.GoodsaddressId))
                        {
                        <li class="region_li_li">
                            <h4  style="color:#ee3f4d">
                               @item1.TypeName:
                            </h4>
                            <ul class="shi" style="margin-top:-10px">
                                @foreach (var item2 in shi.Where(p => p.GoodsaddressBId == item1.GoodsaddressId))
                                {
                                    <li>
                                        <a href="/Goodsaddress/Update/@item2.TypeName?addres=@item2.GoodsaddressId">@item2.TypeName</a>
                                    </li>
                                }
                            </ul>
                        </li>
                        }
                    </ul>

                </li>
            }
        </ul>
    </div>
